@import url(./variables.css);
@import url(./queries.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  color: var(--slate-300);
  background: var(--slate-500);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-main {
  display: inline-block;
  color: var(--slate-900);
  width: 30rem;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 10px 10px 20px rgba(0 0 0 / 0.1);
}

.qrcode-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.description {
  text-align: center;
}

.description-title {
  margin-bottom: 1rem;
}

.description-text {
  color: rgb(31 50 81 / 75%);
}
